:root {
    --primary-color: #AB0C39;
    --secondary-color: #f7aec2;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2em;
}

button {
    padding: 1em;
    margin: .4em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


p.alarmStatus {
    padding: 0.4em;
    transition: background-color 2s linear;
}

.alarm {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    animation: alarm-blink 1.5s infinite;
    /*transition:  #ff9090;*/
}

@keyframes alarm-blink {
    from {
        background-color: var(--secondary-color);
        border-radius: 0px;
    }

    50% {
        background-color: #ff9090;
        border-radius: 8px;
    }

    to {
        background-color: var(--secondary-color);
        border-radius: 0px;
    }
}